<button type="button" class="menu" (click)="openSearchItem()" *ngIf="page !== 'searchItem'">Search Item Assignment</button>
<button type="button" class="menu" (click)="openHttpAssignment()" *ngIf="page !== 'httpAssignment'">HTTP Assignment</button>
<button type="button" class="menu" (click)="openHome()" *ngIf="page !== 'home'">Back to Home</button>

<div *ngIf="page !== 'home'">
  <div *ngIf="page ==='searchItem'">
   <app-add-search-delete></app-add-search-delete>
  </div>
  <div *ngIf="page ==='httpAssignment'">
   <app-http-assignment></app-http-assignment>
  </div>
</div>
